@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
body{
	padding: 0;
    margin: 0;
    overflow-x: hidden;
}
header{
	background-image: url('image/header/bg.gif');
	width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;*/
}
.logo{
    animation: fadeIn 5s 1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    z-index: 1;
	animation: fadeIn 5s 1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
}
nav a {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s all;
}
nav a:hover {
    transform: scale(1.2);
    color: #F08080;
    transition: 0.4s all;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
}
.posstandart{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}
.posstandarttwo{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    position: relative;
    left: 49%;
    top: -30vh;
    justify-content: center;
}
.textheader{
    width: 30ch;
    height: -50%;
    font-size: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    white-space: nowrap;
    overflow: hidden;
    animation: type 3s steps(30);
}
.textstandtart{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.dmitriy{
    border: solid;
    width: 40vw;
    height: 50vh;
    position: relative;
    left: 5%;
}
.book{
    border: solid;
    width: 20vw;
    height: 50vh;
    position: relative;
    left: 35%;
    top: 100px;

}
/*.parallax {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes type{
    from { width: 0; }
}

